page-home {

  h2 {
    text-align: center;
  }

  .article-grid {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding: 0;
    list-style-type: none;
    max-width: 300px;
    img {
      margin: auto;
    }
  }

  .article-grid > * {
    flex: 1 0 5em;
    margin: 0.5em;

    min-width: 20em;
    max-width: 37.5em;
  }

  .article-card {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

}
