<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <div class="content">
    <div class="box">
      <h2>Discover Helsinki soon like never before.</h2>
    </div>
  </div>
</body>

</html>
