<ul class="sg-colors">
		<li>
		<span class="sg-swatch" style="background: #000000;"></span>
		<span class="sg-label">
			$color-brand-black <br>
			#000000
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #FFFFFF;"></span>
		<span class="sg-label">
			$color-brand-white <br>
			#FFFFFF
		</span>
	</li>
</ul>
